In [1]:
import pandas as pd

In [2]:
weather_data = pd.read_csv('../data/raw/GlobalWeatherRepository.csv')
weather_data.head()

,country,location_name,latitude,longitude,timezone,last_updated_epoch,last_updated,temperature_celsius,temperature_fahrenheit,condition_text,...,air_quality_PM2.5,air_quality_PM10,air_quality_us-epa-index,air_quality_gb-defra-index,sunrise,sunset,moonrise,moonset,moon_phase,moon_illumination
0,Afghanistan,Kabul,34.52,69.18,Asia/Kabul,1715849100,2024-05-16 13:15,26.6,79.8,Partly Cloudy,...,8.4,26.6,1,1,04:50 AM,06:50 PM,12:12 PM,01:11 AM,Waxing Gibbous,55
1,Albania,Tirana,41.33,19.82,Europe/Tirane,1715849100,2024-05-16 10:45,19.0,66.2,Partly cloudy,...,1.1,2.0,1,1,05:21 AM,07:54 PM,12:58 PM,02:14 AM,Waxing Gibbous,55
2,Algeria,Algiers,36.76,3.05,Africa/Algiers,1715849100,2024-05-16 09:45,23.0,73.4,Sunny,...,10.4,18.4,1,1,05:40 AM,07:50 PM,01:15 PM,02:14 AM,Waxing Gibbous,55
3,Andorra,Andorra La Vella,42.50,1.52,Europe/Andorra,1715849100,2024-05-16 10:45,6.3,43.3,Light drizzle,...,0.7,0.9,1,1,06:31 AM,09:11 PM,02:12 PM,03:31 AM,Waxing Gibbous,55
4,Angola,Luanda,-8.84,13.23,Africa/Luanda,1715849100,2024-05-16 09:45,26.0,78.8,Partly cloudy,...,183.4,262.3,5,10,06:12 AM,05:55 PM,01:17 PM,12:38 AM,Waxing Gibbous,55

In [3]:
weather_data = weather_data[['country', 'temperature_celsius','last_updated']]
weather_data['last_updated'] = pd.to_datetime(weather_data['last_updated'])
weather_data['W_Date'] = weather_data['last_updated'].dt.date
weather_data['W_Date'] = pd.to_datetime(weather_data['W_Date'])
weather_data.drop(columns=['last_updated'], inplace=True)

In [4]:
weather_data['Temp_month'] = weather_data['W_Date'].dt.month
weather_data['Temp_year'] = weather_data['W_Date'].dt.year

In [5]:
weather_data.head()

       country  temperature_celsius     W_Date  Temp_month  Temp_year
0  Afghanistan                 26.6 2024-05-16           5       2024
1      Albania                 19.0 2024-05-16           5       2024
2      Algeria                 23.0 2024-05-16           5       2024
3      Andorra                  6.3 2024-05-16           5       2024
4       Angola                 26.0 2024-05-16           5       2024

In [6]:
weather_data.to_csv('../data/processed/Temperature Data.csv', index=False)