In [1]:
import pandas as pd

In [2]:
fuel_df = pd.read_excel('../data/raw/EMM_EPM0_PTE_NUS_DPGm.xls', sheet_name='Data 1', skiprows=2)
fuel_df.head()

,Date,U.S. All Grades All Formulations Retail Gasoline Prices (Dollars per Gallon)
0,1993-04-15,1.078
1,1993-05-15,1.100
2,1993-06-15,1.097
3,1993-07-15,1.078
4,1993-08-15,1.062

In [3]:
fuel_df['Date'] = pd.to_datetime(fuel_df['Date'])
fuel_df['Year'] = fuel_df['Date'].dt.year
fuel_df['Month'] = fuel_df['Date'].dt.month
fuel_df = fuel_df[(fuel_df['Year'] >= 2021) & (fuel_df['Year'] <= 2025)]

In [4]:
fuel_df = fuel_df.rename(columns={'U.S. All Grades All Formulations Retail Gasoline Prices (Dollars per Gallon)': 'Fuel Price($/gal)'})

In [5]:
#fuel_df.to_csv('fuel_price.csv', index=False,header=True)
fuel_df.to_csv('../data/processed/fuel_price.csv', index=False, header=True)